/* ========================
    AppBar
======================== */

/* Containers */

.header {
  width: 100%;
  padding: 3.2rem 3.2rem 4rem 3.2rem;
}

.header__container {
  max-width: 111rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

/* Links */

.logo__container {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  display: none;
  font-size: 1.2rem;
  line-height: 115%;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  transition:
    transform var(--transition-fast),
    color var(--transition-fast);
}

/* Icons */

.logo__icon {
  position: relative;
  width: 6rem;
  height: 3.2rem;
  fill: var(--color-surface);
  z-index: 5;

  transition: all var(--transition-fast);
}

.mobile__btn {
  width: 2.4rem;
  height: 1.3rem;
  stroke: var(--color-surface);
  fill: var(--color-surface);
}

.mobile__close {
  width: 1.6rem;
  height: 1.6rem;
}

.logo__decorative1,
.logo__decorative2 {
  width: 6rem;
  height: 3.2rem;
  position: absolute;
  opacity: 0;
  left: 0;

  fill: var(--color-primary-light);
  z-index: 0;
}

/* Animations */

@keyframes logomove1up {
  0% {
    transform: translate(-1rem, -1rem);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    transform: translate(-1.6rem, -1.6rem) scale(0.98);
    opacity: 0.6;
  }

  50% {
    transform: translateY(-2rem, -2rem) scale(0.95);
    opacity: 0.3;
  }

  80% {
    transform: translateY(-2.4rem, -2.4rem) scale(0.9);
    opacity: 0;
  }
}

@keyframes logomove1down {
  0% {
    transform: translate(1rem, 1rem);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    transform: translate(1.6rem, 1.6rem) scale(0.98);
    opacity: 0.6;
  }

  50% {
    transform: translateY(2rem, 2rem) scale(0.95);
    opacity: 0.3;
  }

  80% {
    transform: translateY(2.4rem, 2.4rem) scale(0.9);
    opacity: 0;
  }
}

/* Buttons */

.modal__button {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tablet */

@media screen and (min-width: 48rem) {
  .header {
    padding: 6.4rem 4rem 4.7rem 4rem;
  }

  .modal__button {
    display: none;
  }

  .nav__link {
    display: block;
  }

  .nav__link.active {
    color: var(--color-primary-light);
  }
}

/* Desktop */

@media screen and (min-width: 90rem) {
  .header {
    padding: 6.4rem 0 5.4rem 0;
  }

  .nav__link:hover,
  .nav__link:focus {
    transform: scale(1.05);
  }

  .logo__container:hover .logo__decorative1,
  .logo__container:focus .logo__decorative1 {
    animation: logomove1up 1s linear;
  }

  .logo__container:hover .logo__decorative2,
  .logo__container:focus .logo__decorative2 {
    animation: logomove1down 1s linear;
  }

  .logo__container:hover .logo__icon,
  .logo__container:focus .logo__icon {
    transform: scale(1.05);
  }
}
