/* ========================
    IMAGE COMPONENT
======================== */

/* Containers */

.image__container {
  height: fit-content;
  overflow: hidden;
  align-self: stretch;
}

/* Images */

.section__image {
  object-fit: cover;
  object-position: center;
}