/* ========================
    PREVIEW PROJECT LIST
======================== */

/* Containers */

.project__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8rem;
}

/* Desktop */

@media screen and (min-width: 90rem) {
  .project__list {
    width: 111rem;
  }
}