/* ======================================
    Project Main Details component
====================================== */

/* Containers */

.content__container,
.content__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

/* Typography */

.project__description {
  font-size: 1.5rem;
  line-height: 200%;
  letter-spacing: 0;
  font-weight: 300;

  color: var(--color-text);
  opacity: 0.8;
}

.extras__text {
  font-size: 1.3rem;
  line-height: 235%;
  letter-spacing: 0;
  font-weight: 800;

  color: var(--color-primary-light);
}

/* Tablet */

@media screen and (min-width: 48rem) {
  .content__container {
    gap: 3.2rem;
  }

  .content__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.2rem;
    row-gap: 1.6rem;
  }

  .extras__box {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .project__description {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .content__card a {
    grid-column: 1/2;
    width: fit-content;
  }
}

/* Desktop */

@media screen and (min-width: 90rem) {
  .content__card {
    display: flex;
  }

  .project__description {
    margin-top: 0.6rem;
  }
}
