.sectionHidden {
  opacity: 0;
  transform: translateX(6rem);
}

.sectionHiddenReverse {
  opacity: 0;
  transform: translateX(-12rem);
}

.sectionHiddenDown {
  opacity: 0;
  transform: translateY(-6rem)
}

.sectionVisible {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 700ms ease,
    transform 700ms ease;
}