/* ========================
    BASIC STYLES
======================== */

body {
  font-size: 1.2rem;
  line-height: 115%;
  letter-spacing: 2px;
  font-weight: 400;

  /* Background color (edit here) */
  background-color: var(--color-bg);

  font-family: var(--font-main);
  color: var(--color-text);
}

.visually__hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Typography */

.section__title {
  font-size: 4rem;
  line-height: 105%;
  letter-spacing: -0.35px;
  font-weight: 800;

  /* Change font here */
  font-family: var(--font-accent);
  color: var(--color-text);
}

/* Buttons */

.btn {
  /* Button base styles */
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;

  /* Change transition speed here */
  transition:
    all var(--transition-fast);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.btn__primary {
  /* Change primary buttons color here */
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
}

.btn__secondary {
  /* Change secondary buttons color here */
  color: var(--color-surface);
  border: 1px solid var(--color-surface);
}

/* Icons */

.icon {
  /* Change icons size here */
  width: 2.8rem;
  height: 2.8rem;
}

/* Figures */

.decorative__line {
  height: 1px;
  width: 100%;
  background-color: var(--grey);
  opacity: 0.15;
}

@media screen and (min-width: 90rem) {
  .btn__primary:hover,
  .btn__primary:focus {
    /* Change button color on hover */
    background-color: var(--color-primary-light);
  }

  .btn__secondary:hover,
  .btn__secondary:focus {
    /* Change button color on hover */
    background-color: var(--color-text);
    color: var(--color-text-inverse);
  }
}