/* ========================
    CONTAINERS
======================== */

/* Section layout */
.section {
  width: 100%;
  margin-bottom: 9.6rem;
}

/* Main container layout */

.main__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main__container.modal-open {
  overflow: hidden;
  height: 100vh;
  pointer-events: none;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

@media screen and (min-width: 48rem) {
  .section {
    margin-bottom: 9.6rem;
  }

  .container {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 90rem) {
  .section {
    margin-bottom: 15rem;
  }
  
  .container {
    padding: 0;
  }
}