*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
body,
svg,
img,
ul,
figure,
a {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}