/* ========================
   🎨 QUICK CUSTOMIZATION
======================== */

/*
  Change these values to quickly adapt template:
  - Colors
  - Fonts
  - Spacing
*/

:root {

  /* === CHANGE COLORS HERE === */

  --color-primary: var(--blue);
  --color-primary-light: var(--teal);
  --color-accent: var(--red);

  --color-bg: var(--white);
  --color-surface: var(--slate-dark);
  --color-decorative: rgb(151, 151, 151, 0.15);

  --color-text: var(--slate-dark);
  --color-text-inverse: var(--white);

  /* ===  COLOR NAMES === */

  --black: #000000;
  --white: #ffffff;
  --neutral-middle: #f5f5f5;
  --neutral-light: #fafafa;

  --slate-dark: #33323d;
  --slate-middle: #9a99ab;
  --slate-light: #d8d6d7;

  --indigo-dark: #4f63d8;
  --indigo-light: #5267e0;

  --blue: #203a4c;
  --teal: #5fb4a2;
  --sky: #41b4d3;
  --linen: #ffefec;
  --red: #f43030;

  /* === CHANGE FONTS HERE === */

  --font-main: "Public Sans", sans-serif;
  --font-accent: "Ibarra Real Nova", serif; 

  /* === CHANGE SPACING HERE === */

  --spacing-sm: 1.2rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 4.6rem;
  --spacing-extra-lg: 6.4rem;

  /* === CHANGE BRAND RADIUS HERE === */

  --radius-md: 0.8rem;

  /* === CHANGE TRANSITION SPEED HERE === */

  --transition-fast: 100ms ease-in-out;

  /* === CHANGE GRADIENTS HERE === */

  --hero-overlay: ;
  
  /* === CHANGE SHADOWS HERE === */

  --shadow-plain: 0 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-hover: 0 12px 32px rgba(0, 0, 0, 0.1);
}