/* ========================
   🎨 QUICK CUSTOMIZATION
======================== */

/*
  Change these values to quickly adapt template:
  - Colors
  - Fonts
  - Spacing
*/

:root {

  /* === CHANGE COLORS HERE === */

  --color-primary: var(--blue);
  --color-primary-light: var(--teal);
  --color-accent: var(--red);

  --color-bg: var(--neutral-light);
  --color-surface: var(--slate-dark);
  --color-decorative-15: rgb(151, 151, 151, 0.15);
  --color-decorative-10: rgb(151, 151, 151, 0.15);

  --color-text: var(--slate-dark);
  --color-text-inverse: var(--white);

  /* ===  COLOR NAMES === */

  --black: #000000;
  --white: #ffffff;
  --neutral-middle: #f5f5f5;
  --neutral-light: #fafafa;
  --grey: #979797;

  --slate-dark: #33323d;
  --slate-middle: #9a99ab;
  --slate-light: #d8d6d7;

  --blue: #203a4c;
  --teal: #5fb4a2;
  --linen: #ffefec;
  --red: #f43030;

  /* === CHANGE FONTS HERE === */

  --font-main: "Public Sans", sans-serif;
  --font-accent: "Ibarra Real Nova", serif; 

  /* === CHANGE TRANSITION SPEED HERE === */

  --transition-fast: 100ms ease-in-out;
  --transition-slow: 250ms ease-in-out;
}