/* ========================
    CTA SECTION
======================== */

/* Containers */

.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* Typography */

.cta__header {
  text-align: center;
}

/* Figures */

.decorative__line {
  display: none;
  height: 1px;
  width: auto;
  background-color: var(--grey);
  opacity: 0.15;
}

/* Tablet */

@media screen and (min-width: 48rem) {
  .cta__container {
    display: grid;
    grid-template-columns: 35rem auto 17rem;
  }

  .cta__header {
    text-align: start;
    width: 35rem;
  }

  .decorative__line {
    display: block;
  }
}