/* ========================
    Footer
======================== */

/* Containers */

.footer {
  width: 100%;
  background-color: var(--color-surface);
}

.footer__container {
  max-width: 111rem;
  margin: 0 auto;
  padding: 5.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.social__list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.social__item,
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links */

.nav__link {
  font-size: 1.2rem;
  line-height: 115%;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-text-inverse);

  transition: transform var(--transition-fast);
}

/* Icons */

.logo__icon {
  width: 6rem;
  height: 3.2rem;
  fill: var(--color-text-inverse);
}

.social__icon {
  width: 2.5rem;
  height: 2.4rem;
  fill: var(--color-text-inverse);
}

/* Tablet */

@media screen and (min-width: 48rem) {
  .footer__container,
  .nav {
    flex-direction: row;
  }

  .footer__container {
    padding: 2.4rem 4rem;
    justify-content: flex-start;
    gap: 4.8rem;
  }

  .social__list {
    margin-left: auto;
  }
}

/* Desktop */

@media screen and (min-width: 90rem) {
  .nav__link:hover,
  .nav__link:focus {
    transform: scale(1.05);
  }
}
