/* ========================
    Footer
======================== */

/* Containers */

.footer {
  width: 100%;
  background-color: var(--color-surface);
}

.footer__container {
  max-width: 111rem;
  margin: 0 auto;
  padding: 5.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.social__list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.social__item,
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__container {
  position: relative;
}

/* Links */

.nav__link {
  font-size: 1.2rem;
  line-height: 115%;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-text-inverse);

  transition: transform var(--transition-fast);
}

/* Icons */

.logo__icon {
  position: relative;
  width: 6rem;
  height: 3.2rem;
  fill: var(--color-text-inverse);
  z-index: 5;

  transition: all var(--transition-fast);
}

.social__icon {
  width: 2.5rem;
  height: 2.4rem;
  fill: var(--color-text-inverse);
}

.logo__decorative1,
.logo__decorative2 {
  width: 6rem;
  height: 3.2rem;
  position: absolute;
  opacity: 0;
  left: 0;

  fill: var(--color-primary-light);
  z-index: 0;
}

/* Animations */

@keyframes logomove1up {
  0% {
    transform: translate(-1rem, -1rem);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    transform: translate(-1.6rem, -1.6rem) scale(0.98);
    opacity: 0.6;
  }

  50% {
    transform: translateY(-2rem, -2rem) scale(0.95);
    opacity: 0.3;
  }

  80% {
    transform: translateY(-2.4rem, -2.4rem) scale(0.9);
    opacity: 0;
  }
}

@keyframes logomove1down {
  0% {
    transform: translate(1rem, 1rem);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    transform: translate(1.6rem, 1.6rem) scale(0.98);
    opacity: 0.6;
  }

  50% {
    transform: translateY(2rem, 2rem) scale(0.95);
    opacity: 0.3;
  }

  80% {
    transform: translateY(2.4rem, 2.4rem) scale(0.9);
    opacity: 0;
  }
}

/* Tablet */

@media screen and (min-width: 48rem) {
  .footer__container,
  .nav {
    flex-direction: row;
  }

  .footer__container {
    padding: 2.4rem 4rem;
    justify-content: flex-start;
    gap: 4.8rem;
  }

  .social__list {
    margin-left: auto;
  }
}

/* Desktop */

@media screen and (min-width: 90rem) {
  .nav__link:hover,
  .nav__link:focus {
    transform: scale(1.05);
  }

  .social__item:hover .social__icon,
  .social__item:focus .social__icon {
    transform: scale(1.05);
  }

  .logo__container:hover .logo__decorative1,
  .logo__container:focus .logo__decorative1 {
    animation: logomove1up 1s linear;
  }

  .logo__container:hover .logo__decorative2,
  .logo__container:focus .logo__decorative2 {
    animation: logomove1down 1s linear;
  }

  .logo__container:hover .logo__icon,
  .logo__container:focus .logo__icon {
    transform: scale(1.05);
  }
}
