/* ========================
    HERO SECTION
======================== */

/* Containers */

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.hero__cta {
  display: flex;
  align-items: center;
}

.icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  background-color: rgb(0, 0, 0, 0.1);
}

/* Typography */

.home__header {
  font-size: 4rem;
  line-height: 105%;
  letter-spacing: -0.35px;
  font-weight: 800;
  font-family: var(--font-accent);
  color: var(--color-surface);
}

/* Icons */

.button__icon {
  width: 1.6rem;
  height: 1.2rem;
  fill: none;
  stroke: var(--color-primary-light);
}

/* Tablet */

@media screen and (min-width: 48rem) {
  .hero__container {
    position: relative;
  }

  .text__container {
    padding-top: 5.6rem;
    padding-right: 5.6rem;

    position: absolute;
    bottom: 0;
    left: 4rem;

    width: 51.4rem;
    height: 27.8rem;
    background-color: var(--color-bg);
    justify-content: flex-end;
  }
}

/* Desktop */

@media screen and (min-width: 90rem) {
  .home__header {
    font-size: 5rem;
    line-height: 100%;
    letter-spacing: -0.45px;
  }

  .text__container {
    padding-top: 5.3rem;
    padding-right: 5.5rem;

    left: 0;
    width: 44.5rem;
    height: 35.7rem;
  }
}
